.html-img{
	width: 200px;
	height: 150px;
}

.html-img1{
	width: 220px;
	height: 200px;
}

.html-gif{
	width: 270px;
	height: 300px;
}

.list-div{
	margin: 15px;
}

a{
	color: #F7374F;
}